/** @format */
@use "sass:map";

$secondary: #ffb423;
$receiving: rgb(69, 129, 199);
$withdrawn: #90caf9;
$darkgrayProgress: #929292;
$withdrawn2: #ceff7b;
$withdrawn3: #88ad48;
$text-color: white;
$navbar-inactive: #bbbbbb;
$third-color: #af49ff;
